body {
    background-image: url(https://images.wallpaperscraft.com/image/keyboard_telephone_desktop_179668_1920x1080.jpg);
}

h1 {
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5 {
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

iframe {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 800px;
    margin-left: 500px;
}

.btn {
    color: rgb(27, 62, 219);
    background-color: rgb(15, 146, 197);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: inset;
    display: inline-flexbox;
}

.fa {
    padding: 120px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */


/* Linked in */

.fa-Linkedin {
    background: #3b7698;
    color: white;
    font-size: large;
    width: 80px;
}


/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: rgb(8, 197, 211);
}